html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background: #2C2141;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: #F8F8F8;
    border-radius: 16px;
    max-width: 624px;
    width: 100%;
    padding: 32px;
}

.person {
    display: flex;
    align-items: flex-start;
}

.person__header {
    margin-bottom: 32px;
}

.person__name {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
}

.person__position {
    font-style: italic;
    font-size: 18px;
    color: #545454;
}

.person__photo {
    max-width: 148px;
    width: 100%;
    border-radius: 74px;
    margin-right: 32px;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
}

.person__description--last {
    margin-bottom: 0;
}

.person__special {
    color: #ED6D05;
    font-weight: normal;
}

.person__link {
    color: #E20613;
    text-decoration: none;
    font-weight: normal;
}


@media screen and (max-width: 640px) {

    .person {
        flex-direction: column;
    }

    .person__photo {
        margin: 0 auto;
        width: 180px;
        height: 180px;
    }

    .person__header {
        margin-top: 30px;
    }
}